* {
  box-sizing: border-box;
}
html {
  font-size: 15px;
  color: #0066ff;
}

body {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
}

h1 {
  width: 100%;
  margin-top: 3rem;
  text-align: center;
  font-weight: 200;
}

button {
  border: none;
  margin: 2rem;
  background: transparent;
  color: inherit;
}
.btn1, .btn2, .btn3 {
  position: relative;
}

.btn1::after, .btn2::after, .btn3::after {
  content: '';
  position: absolute;
  transition: all 1s ease-in-out;
  z-index: -1;
}

.btn1 {
  border: 3px solid #0066ff;
  padding: 1em 1.2em;
  transition: all 1s ease-in-out;
}

.btn1::after {
  top: 0;
  bottom: 0;
  left: 0%;
  right:100%;
  background-color: #0066ff;

}

.btn1:hover::after {
  right: 0;
}

.btn1:hover {
  color: #0066ff;
}


.btn2::after, .btn3::after {
  top: 96%;
  bottom: 0;
  left: 0;
  right:100%;
  background: #0066ff;
}

.btn3::after {
  left: 50%;
  right: 50%;
}
.btn2:hover::after {
  right: 0;
}

.btn3:hover::after {
  right: 0;
  left: 0;
}


/*

body {
  margin: 0;
  padding: 0;
  color: rgb(64, 24, 195)
}

.wrapper {
  margin: 200px auto;
  margin-left: 50px;
  white-space: nowrap;
}

.content {
  text-align: center;
}
.button1, .button2, .button3 {
  display: inline-block;
  top: 50%
  left: 0 auto;
  height: 50px;
  width: 200px;
  margin: 10px;

}

h1 {
  text-align: center;
}
.button1 {
  border: 3px solid rgb(64, 24, 195)
}


.button1:hover {
  content: '';
  top: 0;
  left: 0;
  background-color: rgb(64, 24, 195);
  transform: translateY(0);
  transition: all 2s ease-in-out;
  color: #fff;
  }

.button2::after {
  content: '';
  width: 200px;
  height: 2px;
}*/
