$pale-grey: #eadfe9; //5
$light-tan: #fbf1e3; //2
$pale-grey-two: #f6f8f8; //13
$light-tan-two: #faebd7; //7
$very-light-pink: #fdf8f1; //12
$beige: #faeae9; //10
$pale-grey-three: #f2f6f5; //15
$beige-two: #f7dcd5; //18
$beige-three: #faebea; //20
$light-khaki: #f8e8da; //4
$light-tan-three: #fbf3e3; //23
$light-khaki-two: #f8e8da; //21

// color list map
$color-map: (
2 : $light-tan,
4 : $light-khaki,
5 : $pale-grey,
7 : $light-tan-two,
10 : $beige,
12 : $very-light-pink,
13 : $pale-grey-two,
15 : $pale-grey-three,
18 : $beige-two,
20 : $beige-three,
21 : $light-khaki-two,
23 : $light-tan-three
);

// 맵 데이터 디버깅(debug)
// @debug map-get($color-map, 13);

// * -----------
// * Icons
// * ------------
// 한 행에 그려질 아이콘 세트 아이템 컬러의 개수
$item-colums: 4;



// 아이콘 이름 집합(List)
$icon-list: (
"Avocado"
"Bread"
"Burger"
"Cake"
"Cheese"
"Cocktail"
"Coffee"
"Cupcake"
"Donut"
"Fastfood"
"Fish"
"Fruits"
"Honey"
"Hot-Dog"
"Ice-Cream"
"Milk"
"Pizza"
"Pop-Corn"
"Proteins"
"Salad"
"Sandwich"
"Soup"
"Sushi"
"Vine"
);
